
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;

}

.information p::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;    
}

.information .profile::before {
    background-image: url(assests/img/icons/profile.svg);
}

.information .location::before {
    background-image: url(assests/img/icons/location.svg);
}

.information .whatsapp::before {
    background-image: url(assests/img/icons/whatsapp.svg);
}

.information .mail::before {
    background-image: url(assests/img/icons/mail.svg);
}

@media only screen and  (min-width: 768px) {

    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information"
        ;
    }
    
    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .information {
        grid-area: information;
    }


}



